.word {
  display: flex;
  gap: 1rem;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.underline {
  border-bottom: 0.1em solid black;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
